<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3 col-sm-2">
			<%= link_to root_path, :class => 'logo' do %>
				<div class="circle">
				  <br />
				  Another
				  <br />
				  Day in
				  <br />
				  The Office
				</div>
			<% end %>
		</div>
		<div class="col-sm-5 hidden-xs slogan">
			Quotes from The Office, or in other words, what not to say in your office
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5 links">
			<!-- Button trigger modal -->
			<%= link_to 'Contribute', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
			&nbsp;&nbsp;
			<%= link_to 'About', about_path %>
		</div>
	</header>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Contribute Your Quote from The Office</h4>
	      	</div>
	      	<%= simple_form_for Quote.new do |f| %>
	      		<div class="modal-body">
					<%= f.input :saying, :label => "What quote do you want to add?", :hint => "Ex. Bears eat beets. Bears. Beets. Battlestar Galactica." %>
					<br />
					<%= f.input :author, collection: @characters, :label => "Who said this quote?", :hint => "Ex. Jim Halpert" %>
		  		</div>
		     	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<%= f.submit 'Add Quote', :class => 'btn btn-danger' %>
		     	</div>
			<% end %>
	    </div>
	  </div>
	</div>


	<hr />

	<br class="clear" />

	<div class="container">
	    <% if flash[:error].present? %>
	      	<div class="alert alert-danger">
	        	<%= flash[:error].html_safe %>
	      	</div>
	    <% elsif flash[:success].present? %>
	    	<div class="alert alert-success">
	    		<%= flash[:success].html_safe %>
	    	</div>
	    <% end %>
		<%= yield %>
	</div>

	<div class="footer">
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote' %>
			</div>
			<div class="col-xs-12 col-sm-6 footer-blurb">
				Proudly hacked in Boston by <a href="https://www.linkedin.com/in/jeffreytpowers" target="_blank">Jeff Powers</a>
				<br />
				Build your own <a href="http://thefirehoseproject.com" target="_blank" >Splurty Web App</a>
			</div>
		</div>
	</div>

</body>
</html>
